<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.mapper.OrderProfitsharingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.itsource.pojo.domain.OrderProfitsharing">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="order_amount" property="orderAmount" />
        <result column="status" property="status" />
        <result column="platform_income" property="platformIncome" />
        <result column="driver_income" property="driverIncome" />
        <result column="platform_rate" property="platformRate" />
        <result column="driver_rate" property="driverRate" />
        <result column="to_user_open_id" property="toUserOpenId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, order_amount, status, platform_income, driver_income, platform_rate, driver_rate, to_user_open_id
    </sql>

</mapper>
