<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.mapper.ProfitsharingRuleBaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.itsource.pojo.domain.ProfitsharingRuleBase">
        <id column="id" property="id" />
        <result column="driver_ratio" property="driverRatio" />
        <result column="order_number_from" property="orderNumberFrom" />
        <result column="order_number_to" property="orderNumberTo" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, driver_ratio, order_number_from, order_number_to, create_time, update_time, deleted, version
    </sql>

</mapper>
