<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.mapper.ProfitsharingRuleDeductCancelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.itsource.pojo.domain.ProfitsharingRuleDeductCancel">
        <id column="id" property="id" />
        <result column="driver_ratio_deduct" property="driverRatioDeduct" />
        <result column="number_from" property="numberFrom" />
        <result column="number_to" property="numberTo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, driver_ratio_deduct, number_from, number_to
    </sql>

</mapper>
